/* Estilos del LoaderComponent */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77); /* Fondo semitransparente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Colocar el loader por encima de todo */
    }

.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db; /* Cambiar el color de la parte superior del loader */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    }

.loader-gif {
    width: 100px; /* Ajusta el tamaño del GIF según lo necesites */
    height: auto;
    max-width: 80%; /* Limita el tamaño máximo del GIF */
}

p {
    padding: 10px;
    color: aliceblue;
    letter-spacing: 1px;
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }